html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  font-family: "Bevan", cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  font-family: "Bevan", bold;
  text-align: center;
}
body {

}

ul li {
  color: #fff;
  background-color: #713837;
  padding: .6em;
  margin: .3em;
  font-family: sans-serif;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  display: inline;
}
