html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Bevan, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  font-family: Bevan, sans-serif, bold;
  text-align: center;
  line-height: 1.5;
}

body {
  background-color: #79756f;
  text-align: center;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  display: block;
  margin: 0;
}

a {
  color: #fff;
  background-color: #713837;
  padding: .6em;
  margin: .3em;
  font-family: sans-serif;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

a:hover {
  background-color: #f33;
}
